<fieldset>
  <form class="form-container">
    <div class="form-row">
      <p-floatLabel class="form-group">
        <input id="bus-name" type="text" pInputText />
        <label for="bus-name">Bus Name</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input id="bus-capacity" type="number" pInputText />
        <label for="bus-capacity">Capacity</label>
      </p-floatLabel>
    </div>

    <div class="form-row">
      <p-floatLabel class="form-group">
        <input id="bus-color" type="text" pInputText />
        <label for="bus-color">Color</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input id="bus-kg" type="number" pInputText />
        <label for="bus-kg">Weight (kg)</label>
      </p-floatLabel>
    </div>

    <p-button label="Submit" class="form-button" />
  </form>
</fieldset>
