<p-toast></p-toast>
<fieldset>
  <div class="header-container">
    <div class="spacer"></div>
    <div class="save-delete-button-container">
        <p-button icon="fa-solid fa-floppy-disk"
                  [rounded]="true" severity="success" class="form-button" (click)="onSubmit()"></p-button>
    </div>
    <div class="save-delete-button-container">
      @if (fleetId) {

      <p-button
        (onClick)="onDelete()"
        icon="fa-solid fa-trash"
        severity="danger"
        [rounded]="true"
        aria-label="Delete"
      ></p-button>
      }
    </div>
  </div>
  <form class="form-container">
    <div class="form-row">
      <p-floatLabel class="form-group">
        <input
          id="fleet-name"
          type="text"
          pInputText
          [(ngModel)]="fleet().name"
          name="name"
        />
        <label for="fleet-name">{{ 'Fleet.Form.Name' | translate }}</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input
          id="fleet-capacity"
          type="number"
          pInputText
          [(ngModel)]="fleet().capacity"
          name="capacity"
        />
        <label for="fleet-capacity">{{ 'Fleet.Form.Capacity' | translate }}</label>
      </p-floatLabel>
    </div>

    <!-- Address Section -->
    <p-tabView>
      <p-tabPanel header="Address">
        <div class="form-row">
          <p-floatLabel class="form-group">
            <input
              id="address-name"
              type="text"
              pInputText
              [(ngModel)]="address().name"
              name="addressName"
            />
            <label for="address-name">{{ 'Address.Form.Name' | translate }}</label>
          </p-floatLabel>

          <p-floatLabel class="form-group">
            <input
              id="address-city"
              type="text"
              pInputText
              [(ngModel)]="address().city"
              name="addressCity"
            />
            <label for="address-city">{{ 'Address.Form.City' | translate }}</label>
          </p-floatLabel>
        </div>

        <div class="form-row">
          <p-floatLabel class="form-group">
            <input
              id="address-postCode"
              type="text"
              pInputText
              [(ngModel)]="address().postCode"
              name="addressPostCode"
            />
            <label for="address-postCode">{{ 'Address.Form.PostCode' | translate }}</label>
          </p-floatLabel>

          <p-floatLabel class="form-group">
            <input
              id="address-street"
              type="text"
              pInputText
              [(ngModel)]="address().street"
              name="addressStreet"
            />
            <label for="address-street">{{ 'Address.Form.Street' | translate }}</label>
          </p-floatLabel>
        </div>

        <div class="form-row">
          <p-floatLabel class="form-group">
            <input
              id="address-streetNumber"
              type="text"
              pInputText
              [(ngModel)]="address().streetNumber"
              name="addressStreetNumber"
            />
            <label for="address-streetNumber">{{ 'Address.Form.StreetNumber' | translate }}</label>
          </p-floatLabel>
        </div>
      </p-tabPanel>
      @if (fleetId) {

        <p-tabPanel header="Busses">

          <app-bus-list [fleetId]="fleetId"></app-bus-list>

        </p-tabPanel>
      }
    </p-tabView>
  </form>
</fieldset>
