<div class="card">
  <p-table
    #dt2
    [value]="buses()"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['name', 'driver', 'fleetName']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword" />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:22%">Name</th>
        <th style="width:22%">Driver</th>
        <th style="width:22%">Fleet name</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Search by name"
            ariaLabel="Filter Name" />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="driver"
            placeholder="Search by driver"
            ariaLabel="Filter Driver" />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="fleetName"
            placeholder="Search by fleet name"
            ariaLabel="Filter Fleet Name" />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-bus>
      <tr (click)="openDialog(bus)">
        <td>{{ bus.name }}</td>
        <td><p-tag [value]="bus.driver"></p-tag></td>
        <td><p-tag [value]="bus.fleetName"></p-tag></td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No buses found.</td> <!-- Adjusted colspan to match the number of columns -->
      </tr>
    </ng-template>
  </p-table>
</div>
