<p-toast></p-toast>
<fieldset>
  <form class="form-container" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <p-floatLabel class="form-group">
        <input
          id="bus-name"
          type="text"
          pInputText
          [(ngModel)]="bus().name"
          name="name"
        />
        <label for="bus-name">{{ 'Bus.Form.Name' | translate }}</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input
          id="bus-capacity"
          type="number"
          pInputText
          [(ngModel)]="bus().capacity"
          name="capacity"
        />
        <label for="bus-capacity">{{ 'Bus.Form.Capacity' | translate }}</label>
      </p-floatLabel>
    </div>

    <div class="form-row">
      <p-floatLabel class="form-group">
        <input
          id="bus-color"
          type="text"
          pInputText
          [(ngModel)]="bus().color"
          name="color"
        />
        <label for="bus-color">{{ 'Bus.Form.Color' | translate }}</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input
          id="bus-kg"
          type="number"
          pInputText
          [(ngModel)]="bus().kg"
          name="kg"
        />
        <label for="bus-kg">{{ 'Bus.Form.Weight' | translate }}</label>
      </p-floatLabel>
    </div>

    <div class="form-row">
      <p-floatLabel class="form-group">
        <p-autoComplete
          id="bus-driver"
          [(ngModel)]="bus().driver"
          [suggestions]="filteredDrivers"
          (completeMethod)="searchDriver($event)"
          optionLabel="fullName" [minLength]="3"
          placeholder="{{ 'Bus.Form.Driver' | translate }}"
          name="driver"
        ></p-autoComplete>
        <label for="bus-driver">{{ 'Bus.Form.Driver' | translate }}</label>
      </p-floatLabel>
    </div>

    @if (!config?.data) {
      <p-button label="{{ 'Submit' | translate }}" class="form-button" type="submit"></p-button>
    } @else {
      <p-button label="{{ 'Update' | translate }}" class="form-button" (click)="onUpdate()"></p-button>
    }
  </form>
</fieldset>
