<p-toast></p-toast>
<fieldset>
  <form class="form-container" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <p-floatLabel class="form-group">
        <input id="email" type="text" pInputText [(ngModel)]="loginData.email" name="email" required />
        <label for="email">{{ 'Auth.Email' | translate }}</label>
      </p-floatLabel>

      <p-floatLabel class="form-group">
        <input id="password" type="password" pInputText [(ngModel)]="loginData.password" name="password" required />
        <label for="password">{{ 'Auth.Password' | translate }}</label>
      </p-floatLabel>
    </div>

    <p-button label="Login" class="form-button" type="submit"></p-button>
  </form>
</fieldset>
